/*  Root Start  */

:root {
    --animate-duration: 800ms;
    --animate-delay: 0;
    --blue: #59699e;
    --blue_75: rgba(35, 41, 62, 0.75);
    --blue_90: rgba(35, 41, 62, 0.90);
    --purple: #9b349e;
    --white: #ffffff;
    --black: #000;
    --grey-text: #acadd2;
    --light_text: #b5cef5;
    --dark_grad: linear-gradient(130deg, #312c4d,#33636B);;
    --linear: linear-gradient(to bottom, #59699e, #000);
    --col-1: calc(100% / 12);
    --col-2: calc(100% / 6);
    --col-3: calc(100% / 4);
    --col-4: calc(100% / 3);
    --col-5: calc(100% / 12 * 5);
    --col-6: calc(100% / 2);
    --col-7: calc(100% / 12 * 7);
    --col-8: calc(100% / 3);
    --col-9: calc(100% / 4 * 3);
    --col-10: calc(100% / 6 * 5);
    --col-11: calc(100% / 12 * 11);
    --col-12: calc(100%);
  }
  
  
  
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--light_text);
    scroll-behavior: smooth;
  }
  
  .container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
  .row {
    flex-wrap: wrap;
    margin: 0 -15px;
    display: flex;
  }
  .col-1 {
    width: var(--col-1);
    padding: 0 15px;
  }
  
  .col-2 {
    width: var(--col-2);
    padding: 0 15px;
  }
  .col-3 {
    width: var(--col-3);
    padding: 0 15px;
  }
  .col-4 {
    width: var(--col-4);
    padding: 0 15px;
  }
  .col-5 {
    width: var(--col-5);
    padding: 0 15px;
  }
  .col-6 {
    width: var(--col-6);
    padding: 0 15px;
  }
  .col-7 {
    width: var(--col-7);
    padding: 0 15px;
  }
  .col-8 {
    width: var(--col-8);
    padding: 0 15px;
  }
  .col-9 {
    width: var(--col-9);
    padding: 0 15px;
  }
  .col-10 {
    width: var(--col-10);
    padding: 0 15px;
  }
  .col-11 {
    width: var(--col-11);
    padding: 0 15px;
  }
  .col-12 {
    width: var(--col-12);
    padding: 0 15px;
  }
  
  .justify-content-between {
    justify-content: space-between;
  }
  
  .justify-content-evenly {
    justify-content: space-evenly;
  }
  
  .justify-content-center {
    justify-content: center;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  .align-items-end {
    align-items: flex-end;
  }
  
  .align-items-start {
    align-items: flex-start;
  }
  .flex-column {
    flex-direction: column;
  }
  
  .flex-grow-1 {
    flex-grow: 1;
  }
  .d-flex {
    display: flex;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  
  .mh-100 {
    min-height: 100vh;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
    background: var(--light_text);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--blue_75);
    border-radius: 30px;
  }
  
  html, body {
    scroll-behavior: smooth;
  }
  
  /*  Root End  */