.header__container {
  flex-direction: column;
  gap: 1em;
}

.main {
  gap: 2em;
}

.bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url("../images/constructor-bg.png");
  background-repeat: no-repeat;
  background-position: 60% 90%;
  z-index: -1;
}

.text-hint36 {
  color: var(--warning-text-color);
  position: absolute;
  width: 15em;
  text-align: center;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 0);
}

.header__workspace {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.objects__list {
  display: flex;
  flex-wrap: wrap;
}

.objects__list li:not(:last-child) {
  margin-right: 2em;
}

.objects__el button {
  font-size: var(--h2-size);
  font-family: "Montserrat Medium";
}

.objects__el-active button,
.objects__el-active:hover button,
.objects__el-active:focus button,
.objects__el-active:active button {
  color: var(--warning-text-color);
}

.objects__el-selected button {
  color: #485b76;
}

.main__workspace {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 0 auto;
  width: 76vw;
}

.workspace__button-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button-group__post {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.workspace__button-group button svg {
  width: 1.5em;
  height: 1.5em;
}

.table__wrapper {
  padding-right: 2em;
  padding-bottom: 2em;
  max-width: 100%;
  max-height: 57vh;
  overflow: auto;
}

.table thead th {
  white-space: nowrap;
}

thead .btn-no-bg {
  color: #444;
  font-family: "Montserrat Medium";
}

#reloadPage {
  position: absolute;
  left: -5em;
  top: 1.2em;
}

.btn-bordered__green svg {
  transform: rotate(45deg);
}

.select__options {
  max-height: 25vh;
}

.popup__main .form {
  padding: 0.5em;
}

.popup__main .form .form__inp {
  max-width: 60%;
}

.popup__main .form .form__inp[type="number"] {
  max-width: 6%;
}

.popup__main .form .btn {
  align-self: flex-end;
}

.popup#rollBackPopup {
  background-image: url("../images/rollback-pers.png");
  background-position: left 5em bottom 3em;
  background-repeat: no-repeat;
  background-size: 45% 50%;
}
