<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница - CNS Eljur</title>

    <link rel="stylesheet" href="../src/assets/css/main.css">
</head>
<body>
    <main class="main main__container container">
        <h1 class="h1">Главная страница</h1>
    </main>
    <aside class="menu">
        <div class="menu__header">
            <button class="menu__btn btn-no-bg text-gray" id="hideMenuBtn">
                Скрыть меню 
                <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.40002 14.25L9.60002 7.5L2.40002 0.75" stroke="#A6A6A6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </div>
        <div class="menu__main main">
            <div class="menu__profile">
                <div class="menu__img"></div>
               <div class="profile__text">
                <h3 class="menu__employees-name">
                    Иван Иванов
                </h3>
                <a href="#" class="text text-gray">Личный кабинет</a>
               </div>
            </div>
            <nav class="menu__nav nav">
                <ul>
                    <li class="menu__link menu__link-active"><a href="#" class="text text-gray ">Главная страница</a></li>
                    <li class="menu__link"><a href="#" class="text text-gray">Конструктор расписания</a></li>
                    <li class="menu__link"><a href="#" class="text text-gray">Редактор баз данных</a></li>
                    <li class="menu__link"><a href="#" class="text text-gray">Документы</a></li>
                    <li class="menu__link"><a href="#" class="text text-gray">Помощь</a></li>
                </ul>
            </nav>
        </div>
        <div class="menu__footer">
            <img class="menu__logo" src="../src/assets/images/cns_eljur_logo__colored.svg" alt="Логотип CNS Eljur">
    
            <!-- history -->

            <button class="menu__footer__btn btn-no-bg" id="menuFooterHistory">
                <svg class="menu__history" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 23C6 32.3888 13.6112 40 23 40C26.0964 40 28.9995 39.1721 31.5 37.7257M23 6C32.3888 6 40 13.6112 40 23C40 26.0964 39.1721 28.9995 37.7257 31.5" stroke="black" stroke-width="2" stroke-linecap="round"/>
                    <path d="M23 18V25L28.5 23" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12.8226 36.6208C10.507 34.8938 8.60084 32.5529 7.37914 29.7077C3.67467 21.0806 7.66536 11.0838 16.2924 7.37939C24.9195 3.67493 34.9163 7.66554 38.6207 16.2927C42.3252 24.9197 38.3346 34.9165 29.7074 38.621C26.8623 39.8427 23.8681 40.2274 20.9997 39.885" stroke="black" stroke-width="2" stroke-linecap="round" stroke-dasharray="6 7"/>
                </svg>
            </button >
    
            <!-- notifications  -->
            <button class="menu__footer__btn btn-no-bg" id="menuFooterNotif">
                <svg class=" menu__notification" width="42" height="45" viewBox="0 0 42 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.7534 32.75H9.81113C7.60888 32.75 6.50776 32.75 6.27608 32.579C6.0158 32.3869 5.95221 32.2735 5.92401 31.9513C5.89894 31.6645 6.57381 30.56 7.92358 28.3515C9.31719 26.0711 10.5005 22.7509 10.5005 18.05C10.5005 15.4509 11.6068 12.9582 13.5759 11.1204C15.545 9.2825 18.2158 8.25 21.0005 8.25C23.7853 8.25 26.456 9.2825 28.4251 11.1204C30.3944 12.9582 31.5005 15.4509 31.5005 18.05C31.5005 22.7509 32.6839 26.0711 34.0776 28.3515C35.4272 30.56 36.1021 31.6645 36.0771 31.9513C36.0489 32.2735 35.9852 32.3869 35.725 32.579C35.4933 32.75 34.3922 32.75 32.19 32.75H26.2505M15.7534 32.75L15.7505 34.5C15.7505 37.3996 18.1011 39.75 21.0005 39.75C23.9001 39.75 26.2505 37.3996 26.2505 34.5V32.75M15.7534 32.75H26.2505" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>    
            </button>

            <div class="menu__notifications notifications">

                <div class=" notifications__main">
                    <ul class="notifications__list">
                        <li class="notifications__item notifications__item-default">
                            <h4 class="h4">Уведомление</h4>
                            <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
                        </li>
                        <li class="notifications__item notifications__item-default">
                            <h4 class="h4">Уведомление</h4>
                            <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
                        </li>
                        <li class="notifications__item notifications__item-info">
                            <h4 class="h4">Оповещение</h4>
                            <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
                        </li>
                        <li class="notifications__item notifications__item-warning">
                            <h4 class="h4">Ошибка</h4>
                            <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
                        </li>
                        <li class="notifications__item notifications__item-info">
                            <h4 class="h4">Оповещение</h4>
                            <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
                        </li>
                        <li class="notifications__item notifications__item-succes">
                            <h4 class="h4">Успешно</h4>
                            <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
                        </li>
                    </ul>

                    <!-- <p v-else class="text text-gray">У вас пока нет уведомлений</p>-->
                </div>

                <div class="notifications__footer">

                    <button class="menu__footer__btn btn-no-bg text-gray" id="clearNotifBtn">
                        Очистить
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 6L18 18" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round"/>
                            <path d="M18 6L6 18" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                            
                    </button>

                <!-- notifications  -->
                    <button class="menu__footer__btn btn-no-bg" id="hideNotifBtn">
                        <svg class=" menu__notification" width="42" height="45" viewBox="0 0 42 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.7534 32.75H9.81113C7.60888 32.75 6.50776 32.75 6.27608 32.579C6.0158 32.3869 5.95221 32.2735 5.92401 31.9513C5.89894 31.6645 6.57381 30.56 7.92358 28.3515C9.31719 26.0711 10.5005 22.7509 10.5005 18.05C10.5005 15.4509 11.6068 12.9582 13.5759 11.1204C15.545 9.2825 18.2158 8.25 21.0005 8.25C23.7853 8.25 26.456 9.2825 28.4251 11.1204C30.3944 12.9582 31.5005 15.4509 31.5005 18.05C31.5005 22.7509 32.6839 26.0711 34.0776 28.3515C35.4272 30.56 36.1021 31.6645 36.0771 31.9513C36.0489 32.2735 35.9852 32.3869 35.725 32.579C35.4933 32.75 34.3922 32.75 32.19 32.75H26.2505M15.7534 32.75L15.7505 34.5C15.7505 37.3996 18.1011 39.75 21.0005 39.75C23.9001 39.75 26.2505 37.3996 26.2505 34.5V32.75M15.7534 32.75H26.2505" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>    
                    </button>
                </div>
                
            </div>

        </div>
    </aside>    
</body>
</html>