html.dbStore, body.dbStore {
    background-color: #db3d3d;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

main.dbStore {
    display: flex;
    flex-direction: row;
    margin: 20px;
    border-radius: 60px;
    background-color: white;
    height: calc(100vh - 40px);
    overflow: hidden;
}

.sidebar {
    height: calc(100vh - 40px);
    border-radius: 60px 0 0 60px;
    width: 200px;
    max-width: 400px;
    background-color: #fff;
    position: fixed !important;
    z-index: 1;
    overflow-y: auto;
}

.content {
    flex: 1;
    margin-left: 220px;
    overflow-y: auto;
}

.container.dbStore {
    border-radius: 0 60px 0 0;
    padding: 10px;
    background-color: whitesmoke;
}

.header-container {
    position: sticky;
    top: 0;
    background-color: whitesmoke;
    z-index: 3;
    border-radius: 0 60px 0 0;
    padding: 10px;
}

.bar-item {
    padding: 8px 16px;
    display: block;
    outline: 0;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.3;
}

table, td, th {
    text-align: left;
    border-left: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}

.fixed-data {
    position: sticky;
    top: 0;
    background-color: whitesmoke;
    z-index: 2;
}

.fixed-data table {
    width: auto;
    border: 1px solid black;
}

.fixed-data th, .fixed-data td {
    padding: 8px;
    border: 1px solid black;
}
  
  
  