body {
    margin: 10px;
  }
  
  .main {
    position: absolute;
    width: calc(100% - 106px); /* учитываем отступы слева и справа */
    height: calc(100% - 72px); /* учитываем отступы сверху и снизу */
    left: 53px;
    top: 36px;
  
    background: #db3d3d;
    border-radius: 60px;
  }
  
  .header-line {
    display: grid;
  }
  
  .main-rectangle {
    position: relative;
    width: 989px;
    height: 82px;
    left: 60px;
    top: 28px;
  
    background: #ffffff;
    border-radius: 42px;
  }
  
  .menu-item {
    position: relative;
    color: #000;
    text-decoration: none;
    font-size: 25px;
    padding-left: 157px;
    top: 25px;
    font-family: 'Montserrat';
    padding: 26px 0px 26px 0px;
    transition: transform 0.3s ease;
    margin-right: 70px;
    margin-left: 70px;
  }
  
  .menu-item:hover {
    transform: scale(1.1);
  }
  .active-tab {
    color: #ffffff;
    margin-left: 55px;
    margin-right: 55px;
    padding: 15px 15px 15px 15px;
    background: #db3d3d;
    border-radius: 42px;
  }
  
  .menu-rectangle {
    /*Not used FACK*/
    position: relative;
    width: 138px;
    height: 51px;
    left: 68px;
    top: 18px;
    background: #db3d3d;
    border-radius: 42px;
  }
  
  .cns {
    position: absolute;
    left: 1500px;
    top: 8px;
  
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
  
    color: #ffffff;
  }
  
  .main-title {
    position: relative;
    left: 120px;
    top: 50px;
  
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 80px;
    line-height: 98px;
  
    color: #ffffff;
  }
  
  .main-button {
    position: relative;
    text-decoration: none;
    font-size: 50px;
    color: #000;
    font-family: 'Montserrat';
  
    left: 120px;
    top: 57px;
  
    background: #ffffff;
    border-radius: 40px;
    padding: 30px 156px 30px 56px;
  }
  
  .arrow-rectangle {
    position: relative;
    width: 109px;
    height: 72px;
    left: 571px;
    top: -10px;
  
    background: #db3d3d;
    border-radius: 40px;
  }
  
  .arrow-img {
    position: relative;
    width: 70px;
    height: 70px;
    left: 590px;
    top: -82px;
  }
  
  .line1 {
    position: absolute;
    width: 278px;
    height: 624px;
    left: 1538px;
    top: 285px;
  }
  .line2 {
    position: absolute;
    width: 439px;
    height: 485px;
    left: 1433px;
    top: 389px;
  }
  .info {
    position: relative;
    width: 1336px;
    height: 838px;
    left: 53px;
    top: 920px;
  
    background: #db3d3d;
    border-radius: 60px;
  }
  .info-text {
    position: absolute;
    width: 235px;
    height: 98px;
    left: 120px;
    top: 0px;
  
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 98px;
  
    color: #ffffff;
  }
  .support {
    position: absolute;
    width: 1336px;
    height: 838px;
    left: 53px;
    top: 1804px;
  
    background: #db3d3d;
    border-radius: 60px;
  }
  .supp {
    position: absolute;
    width: 483px;
    height: 98px;
    left: 120px;
    top: 0px;
  
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 98px;
  
    color: #ffffff;
  }
  /* Стили для модального окна */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  .modal-content {
    position: relative;
    background: #ffffff;
    border-radius: px;
  }
  .close-btn {
    position: absolute;
    top: 0px;
    right: 20px;
    cursor: pointer;
    font-size: 80px;
    color: #000000;
  }
  .close-btn:hover {
    color: #000;
  }
  .auth-back {
    width: 715px;
    height: 618px;
    background: #ffffff;
    border-radius: 32px;
    padding: 20px;
    text-align: center;
  }
  .log-in {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 98px;
    color: #000000;
  }
  .input1,
  .input2 {
    box-sizing: border-box;
    width: 507px;
    height: 82px;
    margin: 20px 0;
    font-size: 25px;
    font-family: 'Montserrat';
    border: 2px solid #000000;
    border-radius: 30px;
    padding: 26px 50px;
  }
  .auth-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .auth-btn1 {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Montserrat';
    color: #000000;
    background: #ff0000;
    border-radius: 40px;
    padding: 20px 40px;
  }
  .auth-rectangle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #ffffff;
    border-radius: 50%;
    margin-left: 10px;
  }
  .auth-img {
    width: 40px;
    height: 40px;
  }
  